<%- include("./partial/header.ejs") %> 

<body>
    <div class="main">
        <div class="navbar">
            <h2 class="logo">MediSolution</h2>    
            
        </div> 
        <%- include("./partial/navbar1.ejs") %> 
     <div class="para">
         <div class="welcome">
         <h1 ><i>Welcome to Doctor!</i></h1> 
         </div>
        <div class="content">
            <h3><i>“Medisolution” is a platform where you can find doctors and book appointments according to your preferences or needs
                 online.
            </h3>
            <p>We believe that everyone should have easy access to health care. We are on a mission to transform the way healthcare is delivered in Bangladesh. We understand how difficult it can be to obtain appropriate care, which is why we strive to make doctor visits enjoyable.
            Our goal is to make the process as simple as possible for both our patients and doctors, and to provide care wherever you are – in person or at home.
            </p></i>
        </div>
     </div>
            
        
    </div>
        