<div class="menu">
    <ul>
        <li><a href="/homedoc">Home</a></li>
        <!-- <li><a href="/searchDoctor">Doctor</a></li>
        <li><a href="/searchHospital">Hospital </a></li> -->
        <!-- <li><a href="/searchMedicine">Medicine </a></li> -->
        <li><a href="#">Check Appointment</a></li>
        <li><a href="/prescription">Add Prescription</a></li>
        <!-- <li><a href="/payform">Payment</a></li> -->
        <li><a href="/login">Logout</a></li>
    </ul>
</div>